<iframe class="w-full h-full absolute" src="https://www.youtube.com/embed/LOE8ESPIMpE?&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;controls=0 "></iframe>

<div class="text-white h-screen"> 
    <div class="pt-[10%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">Turbo</h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap">Presenting to you the official trailer of "Turbo" movie directed by Vysakh, starring Mammootty

            DIRECTED BY: VYSAKH 
            WRITTEN BY: MIDHUN MANUEL THOMAS
            EXECUTIVE PRODUCER: GEORGE SEBASTIAN 
            DOP: VISHNU SARMA 
            EDITOR: SHAMEER MUHAMMED 
            MUSIC: CHRISTO XAVIER
            PRODUCTION DESIGNER: SHAJIE NADUVIL 
            RELEASING WORLD WIDE ON 23RD MAY 2024
            </p>
            <div>
            &nbsp;
            <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
                ▷ play
            </button>

            <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
                More Info
            </button>
            </div>
        <div>
</div>